@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
  --color-zinc-950: #09090b;
  --color-electric-violet: #7C3AED;
  --color-neon-cyan: #22D3EE;
  --color-emerald-400: #34D399;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-slate-950);
    color: white;
}
